{% extends 'base.html.twig' %}

{% block title %}Lieu{% endblock %}

{% block body %}
    {{ form_start(lieuForm) }}
    {{ form_widget(lieuForm) }}
    <button type="submit">Envoyer</button>
    {{ form_end(lieuForm) }}
{% endblock %}
