{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Déconnexion
{% endblock %}

{% block body %}
    <div class="container">
        <div class="flex-center">
            <h1>"En  attendant de trouver l'amour, nous vous disons ..."</h1>
            <img src="{{ asset('img/tchao et bon dev.gif') }}" alt="Tchao & bon dev !">
        </div>
    </div>
{% endblock %}

