{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Création d'un groupe
{% endblock %}

{% block body %}
    <h2>Création d'un groupe</h2>
    <div class="container">
        {{ form_start(groupeForm) }}
        {{ form_widget(groupeForm) }}
        <button class="btn btn-primary">Ajouter</button>
        {{ form_end(groupeForm) }}
    </div>
{% endblock %}
