{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Campus{% endblock %}

{% block body %}
    {% include 'inc/navadmin.html.twig' %}

    <h2>Création de Campus</h2>

    <div class="container">
        {{ form_start(campusForm) }}
        {{ form_widget(campusForm) }}
        <button type="submit">Envoyer</button>
        {{ form_end(campusForm) }}
    </div>
{% endblock %}
