{% extends 'base.html.twig' %}

{% block title %}Liste des campus{% endblock %}

{% block body %}
    <h1>Liste des campus</h1>
    <ul>
        {% for campus in campus %}
            <li>{{ campus.nom }}</li>
        {% endfor %}
    </ul>
{% endblock %}