{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    {{ form_start(villeEditForm) }}
    {{ form_widget(villeEditForm) }}
    <button>Envoyer</button>
    {{ form_end(villeEditForm) }}
{% endblock %}