<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">

    <title>{% block title %} AdopteUnDev.com {% endblock %}</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="header-title">
                <h1>AdopteUnDev.com</h1>
                <h2>Numéro 1 des sites de rencontre à l'ENI</h2>
            </div>
            {% include 'inc/nav.html.twig' %}
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>

        </footer>
    </div>

</body>
</html>